.homeMain {
  padding: 15px;
}

.homeBox {
  background-color: #334155;
  border: 1px solid #111827;
  padding: 15px;
}

.homeFlex {
  flex-wrap: wrap;
  display: flex;
}

.homeFlexChild {
  background-color: #4b5563;
  border: 1px solid #111827;
  flex: 1;
  margin: 5px;
  min-width: 300px;
  padding: 15px;
}

.homeFlexChild h3 {
  text-align: center;
}

.homeFlexChild a {
  text-decoration: underline;
  margin-left: 4px;
}
